.container .d-none {
    display: none;
}
.skeleton {
    width: 250px;
    height: 50px;
    border-radius: 7px;
    background-color: #f1eef3;
    display: flex;
    align-items: start;
    gap: 5px;
    justify-content: center;
    padding: 10px;

    > .profile-image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #d7d0dc;
        position: relative;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            width: 5%;
            height: 100%;
            background-color: rgb(110, 110, 110);
            left: 0;
            top: 0;
            filter: blur(10px);
            transform: skew(10%);
            /* animation */
            animation-name: loading;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }



    > .content {
        height: 100%;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        > span {
            display: inline-block;
            background-color: #d7d0dc;
            border-radius: 90px;
            position: relative;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                width: 30%;
                height: 100%;
                background-color: rgb(110, 110, 110);
                left: 0;
                top: 0;
                filter: blur(20px);
                transform: skew(10%);
                /* animation */
                animation-name: loading;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }

        > span:first-child {
        width: 70%;
        height: 10px;
        }

        > span:last-child {
        width: 50%;
        height: 6px;
        }
    }
}

@keyframes loading {
    100% {
        left: 120%;
    }
}