.header {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    width: 95%;
    margin: 5px auto;


    .account {
        display: flex;
        align-items: center;
        gap: 7px;

        button {
            padding: 8px 16px;
            border: none;
            background-color: rgb(85, 0, 255);
            color: white;
            border-radius: 50px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #3700b3;
            }
        }

        span {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}