nav {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    background-color: rgb(245, 245, 245);
    padding: 3px;
    border-radius: 60px;
    width: fit-content;
    ul {
        list-style-type: none;
        display: flex;
        gap: 7px;
        li {
            .nav-link{
                display: inline-block;
                border-radius: 50px;
                padding: 5px 10px;
                color: rgb(27, 27, 27);
                text-decoration: none;
                i {
                    margin-right: 3px;
                }
            }
            .active {
                background: rgba(255, 255, 255, 0.42);
                backdrop-filter: blur(21px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                position: relative;
                /* animation-name: active 0.3s ease-in-out; */
                animation-name: active;
                animation-timing-function: ease-in-out;
                /* animation-delay: 0.1s; */
                animation-duration: 0.3s;
                animation-fill-mode: forwards;
            }
        }
    }
}


@keyframes active {
    to {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 46px 23px rgba(255, 255, 255, 2.3);
    }
}