#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.posts {
  display: flex;
  justify-content: space-between;
  .post {
    flex: 1;
    margin: 0 1rem;
    background-color: rgb(245, 245, 245);
    border: 1.5px solid #eee;
    border-radius: 6px;
    padding: 10px;
  }
}