.app {
    min-height: 100vh;
    background-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(251, 249, 255);
    min-height: 100vh;
}
ul {
    list-style-type: none;
}
button {
    cursor: pointer;
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}