#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.posts {
  .post {
    width: 60%;
    background-color: rgb(245, 245, 245);
    border: 1.5px solid #eee;
    border-radius: 6px;
    padding: 10px;
    max-height: 0px;
    overflow: hidden;
    animation: fadrIn 0.3s ease-in-out forwards;
  }
}

.about-wrapper, .posts-wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: all 4s ease-in-out;
  animation: fadrIn 0.3s ease-in-out forwards 0.05s;
}

@keyframes fadrIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    max-height: 156px;
    overflow: visible;
  }
}


.user{
  border: 1.5px solid #eee;
  border-radius: 6px;
  padding: 10px;
  width: 200px;
  margin: 10px auto;
  list-style-type: none;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
}