* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, Arial, Helvetica, sans-serif;
  outline: none;
}
ul {
  list-style-type: none;
}
button {
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  min-height: 100vh;
  overflow: hidden;
}